@use './reset';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Chivo', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #121725;
}

.background-img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background-img .overlay {
  position: absolute;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 23, 37, 0.8);
}

.background-img .caster-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: block;
}

.pod-logo {
  width: 135px;
  height: 56px;
  margin-bottom: 57px;
}

.text-container {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container .text-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 327px;
}

.text-container .text-wrapper p:nth-of-type(2) {
  margin-top: 16px;
}

.text-container .text-wrapper .headline-text {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  /* or 146% */
  text-align: center;
  text-transform: uppercase;
  color: #54E6AF;
}

.text-container .text-wrapper .headline-text span {
  color: #FFFFFF;
}

.text-container .text-wrapper .info-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  text-align: center;
  color: #C2CBE5;
}

.text-container .text-wrapper .brands-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container .text-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  list-style: none;
  max-width: 315px;
  margin: 33px 0;
}

.text-container .text-wrapper ul li {
  width: 100%;
  height: 17px;
}

.text-container .text-wrapper ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60px;
  height: 17px;
}

.text-container .text-wrapper .email-group p {
  margin-top: 8px;
  margin-left: 32px;
}

.text-container .text-wrapper .email-group .email-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FB3E3E;
  display: none;
}

.text-container .text-wrapper .email-group .email-success {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #54E6AF;
  display: none;
}

.text-container .text-wrapper .email-group .email-error--active {
  display: block;
}

.text-container .text-wrapper .email-group .email-success--active {
  display: block;
}

.text-container .text-wrapper .email-group .email-input {
  background: #2C344B;
  border-radius: 28px;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #FFFFFF;
  mix-blend-mode: normal;
  border: none;
  width: 326px;
  height: 46px;
  padding-left: 32px;
}

.text-container .text-wrapper .email-button-inner {
  display: none;
}

.text-container .text-wrapper .email-button {
  border: none;
  cursor: pointer;
  width: 326px;
  height: 46px;
  background: #54E6AF;
  -webkit-box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
          box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border-radius: 28px;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #121725;
  margin-top: 16px;
}

.pattern-img {
  display: none;
}

@media screen and (min-width: 665px) {
  .pattern-img {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 65%;
  }
  .background-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .background-img .overlay {
    position: absolute;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 23, 37, 0.8);
  }
  .background-img .caster-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-width: 491px;
    min-height: 767px;
    max-height: 100%;
    display: block;
  }
  .pod-logo {
    width: 135px;
    height: 56px;
    margin-bottom: 57px;
    top: -200px;
    position: absolute;
  }
  .text-container {
    position: absolute;
    top: 258px;
    z-index: 4;
    left: 39px;
    width: 100%;
    height: 100%;
    max-width: 635px;
    max-height: 509px;
    background-color: #121725;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-container .text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 635px;
  }
  .text-container .text-wrapper p:nth-of-type(2) {
    margin-top: 31px;
  }
  .text-container .text-wrapper .headline-text {
    font-size: 48px;
    line-height: 56px;
    /* or 146% */
    text-align: left;
  }
  .text-container .text-wrapper .info-text {
    font-size: 18px;
    line-height: 28px;
    /* or 167% */
    text-align: left;
  }
  .text-container .text-wrapper .brands-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .text-container .text-wrapper ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 536px;
    margin: 0;
    margin-top: 40px;
  }
  .text-container .text-wrapper ul li {
    width: 100%;
    height: 29px;
  }
  .text-container .text-wrapper ul li img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 79px;
    height: 29px;
  }
  .text-container .text-wrapper .email-group {
    position: relative;
    margin-top: 40px;
  }
  .text-container .text-wrapper .email-group .email-error {
    position: absolute;
  }
  .text-container .text-wrapper .email-group .email-success {
    position: absolute;
  }
  .text-container .text-wrapper .email-group .email-input {
    width: 427px;
    height: 56px;
    padding-left: 32px;
  }
  .text-container .text-wrapper .email-button {
    position: absolute;
    top: -11px;
    right: 6px;
    width: 162px;
  }
}

@media screen and (min-width: 1024px) {
  .pattern-img {
    display: block;
    position: absolute;
    bottom: 138px;
    right: 0;
  }
  .background-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 130px 0 130px 165px;
  }
  .background-img .overlay {
    position: absolute;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 23, 37, 0.8);
    display: none;
  }
  .background-img .caster-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-width: 888px;
    min-height: 640px;
    max-height: 100%;
    display: block;
  }
  .pod-logo {
    width: 135px;
    height: 56px;
    margin-bottom: 57px;
    top: -140px;
    position: absolute;
  }
  .text-container {
    position: absolute;
    top: 261px;
    z-index: 4;
    left: 39px;
    width: 100%;
    height: 100%;
    max-width: 729px;
    max-height: 509px;
    background-color: #121725;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-container .text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 635px;
  }
  .text-container .text-wrapper p:nth-of-type(2) {
    margin-top: 31px;
  }
  .text-container .text-wrapper .headline-text {
    font-size: 52px;
    line-height: 62px;
    /* or 146% */
    text-align: left;
  }
  .text-container .text-wrapper .info-text {
    font-size: 18px;
    line-height: 28px;
    /* or 167% */
    text-align: left;
  }
  .text-container .text-wrapper .brands-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .text-container .text-wrapper ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 536px;
    margin: 0;
    margin-top: 40px;
  }
  .text-container .text-wrapper ul li {
    width: 100%;
    height: 29px;
  }
  .text-container .text-wrapper ul li img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 96px;
    height: 29px;
  }
  .text-container .text-wrapper .email-group {
    position: relative;
    margin-top: 40px;
  }
  .text-container .text-wrapper .email-group .email-error {
    position: absolute;
  }
  .text-container .text-wrapper .email-group .email-success {
    position: absolute;
  }
  .text-container .text-wrapper .email-group .email-input {
    width: 427px;
    height: 56px;
    padding-left: 32px;
  }
  .text-container .text-wrapper .email-button {
    position: absolute;
    top: -11px;
    right: 6px;
    width: 162px;
  }
}
/*# sourceMappingURL=styles.css.map */